h1.title {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px; /* identical to box height, or 131% */
  text-align: center;
  letter-spacing: 0.5px;

  color: #171d33;
  margin-top: 16px;
}

.charts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  .badge {
    margin-top: 42px;

    width: 125px;
    height: 28px;
    //margin-left: 26px;
    background: #fa2e69;
    position: relative;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Sarabun;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.2px;

    color: #ffffff;

    &:before {
      content: '';

      width: 10px;
      height: 8px;
      position: absolute;
      left: 45%;
      top: -34%;
      border-bottom: 10px solid #fa2e69;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }
}
