.form-container {
  width: 730px;
  padding-bottom: 32px;

  //form {
  //  padding-top: 20px;
  //}

  .input {
    display: flex;
    flex-flow: column-reverse;

    label,
    input {
      padding-left: 20px;
      transition: all 0.2s;
      touch-action: manipulation;
    }

    label {
      //margin-bottom: 0;
      font-family: Sarabun;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px; /* or 137% */
      letter-spacing: 0.2px;

      color: #a6aab4;
      z-index: 2;
    }

    input {
      -webkit-appearance: none;
      //padding: 0;
      border: 0.5px solid #a6aab4;
      box-sizing: border-box;
      border-radius: 6px;

      font-family: Sarabun;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px; /* or 137% */
      letter-spacing: 0.2px;

      //color: #a6aab4;
      background: #f8f9fa;
      height: 56px;

      &:focus {
        outline: 0;
        background: #ffffff;
        border: 1px solid #613eea;
        border-radius: 6px;

        font-weight: normal;
        line-height: 24px; /* identical to box height, or 150% */

        color: #171d33;
      }
    }

    input:placeholder-shown + label {
      //max-width: 66.66%;
      cursor: text;
      //white-space: nowrap;
      overflow: hidden;
      //text-overflow: ellipsis;
      //transform-origin: left bottom;
      transform: translate(0, 3rem);

      z-index: 3;
    }

    input:not(:placeholder-shown) + label,
    input:focus + label {
      transform: translate(0, 0);
      cursor: pointer;

      //background-clip: padding-box;

      font-size: 12px;
      line-height: 10px; /* identical to box height, or 150% */

      color: #613eea;

      width: max-content;
      padding-top: 20px;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 20px;
      margin-bottom: -5px;

      z-index: 3;
      background: #ffffff;

      background-clip: content-box;
    }

    ::-webkit-input-placeholder {
      opacity: 0;
      transition: inherit;
    }

    input:focus::-webkit-input-placeholder {
      opacity: 1;

      font-weight: normal;
      font-size: 16px;
      line-height: 24px; /* identical to box height, or 150% */
      letter-spacing: 0.2px;

      color: #171d33;
    }
  }

  .submit-form-button {
    margin-top: 20px;

    font-family: Sarabun;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px; /* or 150% */
    letter-spacing: 0.1px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;

    background: #e8e2fc;
    border-radius: 6px;
    border: none;

    height: 56px;
    width: 100%;

    &.active {
      background: #613eea;
      /* purple button shadow */
      box-shadow: 0px 8px 20px rgba(97, 62, 234, 0.32);
      border-radius: 6px;
    }
  }

  .notification-radio-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;
    background: #ffffff;
    /* card shadow */
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
    border-radius: 6px;

    height: 60px;

    font-family: Sarabun;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px; /* identical to box height, or 143% */
    letter-spacing: 0.2px;

    color: #171d33;

    &.checked {
      background: #ff7d00;
      border-radius: 6px;

      color: #ffffff;

      svg {
        fill: #ff7d00;
        stroke: #ffffff;

        circle {
          fill: #ff7d00;
          stroke: #ffffff;
        }

        path {
          stroke: #ffffff;
        }
      }
    }

    input {
      display: none;
    }

    svg {
      margin-left: 10px;
    }

    span {
      padding-left: 24px;
    }
  }

  .toggle-input {
    &.switcher {
      position: relative;
      display: inline-block;
      width: 44px;
      height: 24px;
      outline: none;

      input {
        display: none;
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: 0.4s;

      background-color: #ffffff;

      border: 1px solid #d6d9e4;
      box-sizing: border-box;
      border-radius: 18px;

      &:before {
        position: absolute;
        content: '';
        height: 22px;
        width: 22px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
        border: 0.5px solid #e5e5e5;
        box-sizing: border-box;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      }
    }

    input:checked + .slider {
      background-color: #613eea;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #613eea;
    }
    input:checked + .slider:before {
      transform: translateX(20px);
    }
  }
}
