.information {
  margin-top: 39px;
  //background: #f8f9fa;

  display: flex;
  align-items: center;
  flex-direction: column;

  .amount-block-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;

    .amount-block {
      display: flex;
      align-items: center;
      flex-direction: column;

      width: 350px;
      height: 80px;
      background: #ffffff;
      box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
      border-radius: 6px;

      .title {
        padding-top: 12px;

        font-family: Sarabun;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 16px; /* identical to box height, or 160% */
        text-align: center;
        letter-spacing: 0.4px;

        color: #a6aab4;
      }

      .amount {
        font-family: Sarabun;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px; /* identical to box height, or 150% */
        text-align: center;
        letter-spacing: 0.1px;

        color: #171d33;
      }

      .meter {
        width: 318px;
        height: 3px;
        //position: relative;
        margin-top: 10px;
        box-shadow: inset 0 -1px 1px #e8e9ec;
        border-radius: 3px;

        //span:after {
        //  content: "";
        //  top: 0; left: 0; bottom: 0; right: 0;
        //  background-image: linear-gradient(
        //                  -45deg,
        //                  rgba(255, 255, 255, .2) 25%,
        //                  transparent 25%,
        //                  transparent 50%,
        //                  rgba(255, 255, 255, .2) 50%,
        //                  rgba(255, 255, 255, .2) 75%,
        //                  transparent 75%,
        //                  transparent
        //  );
        //  z-index: 1;
        //  background-size: 50px 50px;
        //  animation: move 2s linear infinite;
        //  border-radius: 20px 8px 8px 20px;
        //  overflow: hidden;
        //}
      }

      &.income {
        margin-right: 15px;

        .meter {
          background: #10c971;
        }
      }

      &.out {
        margin-left: 15px;

        .meter {
          background: #fa2e69;
        }
      }
    }
  }

  .card-info-row {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 730px;
    height: 220px;
    background: #ffffff;
    /* card shadow */
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
    border-radius: 6px;

    margin-top: 12px;
    margin-bottom: 32px;

    div {
      width: inherit;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      //padding: 0 16px;
      height: 55px;

      span {
        font-family: Sarabun;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px; /* or 143% */
        letter-spacing: 0.2px;

        width: 100px;

        &:first-child {
          padding-right: 20px;

          color: #a0a4b0;
        }

        &:last-child {
          color: #171d33;
        }
      }

      &:not(:last-child) {
        width: 95.618%;
        border-bottom: 1px solid #f0f1f4;
      }

      &:last-child {
        width: 95.618%;
      }
    }
  }

  .card-info-title {
    font-family: Sarabun;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px; /* identical to box height, or 150% */
    letter-spacing: 0.2px;

    color: #757f8c;
  }
}
