.middle-element-container {
  width: inherit;

  display: flex;
  flex-flow: column;
  align-items: center;

  > div {
    padding-bottom: 0 !important;

    input {
      width: 100%;
    }
  }
}

.tabs {
  margin-top: 39px;
  background: #f8f9fa;

  .tab-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 165px;

    height: 38px;

    /* gray divider */
    border-bottom: 1px solid #e8e9ec;

    .tab-item {
      cursor: pointer;

      width: 100%;

      font-family: Sarabun;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 38px;
      text-align: center;
      letter-spacing: 0.1px;

      color: #a6aab4;
      transition: color 0.5s ease-out;

      &.active {
        color: #3b414b;
      }
    }
  }

  .underline {
    width: 224px;
    height: 2px;
    margin-top: -2.5px;

    transition: all 0.35s ease-in-out;

    /* orange */
    background: #ff7d00;
    border-radius: 2px;

    border-bottom: 4px solid transparent;

    &.three-item {
      &.left-active {
        transform: translateX(16.5vw);
      }
    }

    @media screen and (min-width: 1200px) {
      &.two-item {
        &.left-active {
          transform: translateX(23vw);
        }

        &.right-active {
          transform: translateX(60vw);
        }
      }

      &.three-item {
        &.center-active {
          transform: translateX(41.5vw);
        }

        &.right-active {
          transform: translateX(65vw);
        }
      }
    }

    @media screen and (min-width: 1600px) {
      &.two-item {
        &.left-active {
          transform: translateX(23.5vw);
        }

        &.right-active {
          transform: translateX(64.5vw);
        }
      }

      &.three-item {
        &.center-active {
          transform: translateX(44vw);
        }

        &.right-active {
          transform: translateX(71vw);
        }
      }
    }
  }

  .tab-content {
    margin-top: 32px;
  }
}
