.background {
  width: 348px;
  height: 206px;

  opacity: 0.4;

  box-shadow: 0px 10px 36px rgba(134, 118, 251, 0.6);

  right: 0px;
  bottom: 0px;

  background: linear-gradient(121.02deg, #8676fb 0%, #ab7bff 100%);
  border-radius: 6px;
}

.background.card-active {
  width: 420px;
  height: 248px;
  opacity: 1;
}

.slick-active.slick-center.slick-current {
  .background.active {
    width: 420px;
    height: 248px;
    opacity: 1;
  }
}

.slick-active.slick-center.slick-current {
  .background.card-second {
    width: 348px;
    height: 206px;

    opacity: 0.4;
  }
}
