.background {
    width: 420px;
    height: 248px;
    /*left: calc(50% - 420px/2);*/
    /*top: 262px;*/

    box-shadow: 0px 10px 36px rgba(134, 118, 251, 0.6);

    /*left: 0px;*/
    right: 0px;
    /*top: 0px;*/
    bottom: 0px;

    background: linear-gradient(121.02deg, #8676fb 0%, #ab7bff 100%);
    border-radius: 6px;
}

.slick-center {
    width: 420px;
    height: 248px;
}

.slick-active {
    width: 348px;
    height: 206px;

    opacity: 0.4;
}
