.background {
  width: 348px;
  height: 206px;

  opacity: 0.4;

  background: linear-gradient(121.02deg, #8676fb 0%, #ab7bff 100%);
  border-radius: 6px;
  margin: 32px auto 55px;

  transition: transform 1.05s ease-in-out;
}

.card {
  div {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.card.card-active {
  opacity: 1;
  box-shadow: 0px 10px 36px rgba(134, 118, 251, 0.6);

  transform: scale(1.2);
  transition: transform 1.05s ease-in-out;

  .card-number {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 28px;

    div {
      font-family: Sarabun;
      font-style: normal;
      color: #ffffff;

      line-height: 37px;
    }

    div:not(:last-child) {
      font-weight: normal;
      font-size: 23px;
      letter-spacing: 5px;
    }

    div:last-child {
      font-weight: normal;
      font-size: 22px;
      text-align: right;
      letter-spacing: 2px;
    }
  }

  .bottom-place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;

    .card-holder {
      font-family: Sarabun;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0.4px;
      text-transform: uppercase;

      color: #ffffff;

      /* white */
      opacity: 0.8;
    }

    .card-holder-name {
      font-family: Sarabun;
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 34px;
      letter-spacing: 0.1px;

      color: #ffffff;
    }

    .expires {
      font-family: Sarabun;
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 28px;
      text-align: right;
      letter-spacing: 0.4px;
      text-transform: uppercase;

      color: #ffffff;

      /* white */
      opacity: 0.8;
    }

    .expired-date {
      font-family: Sarabun;
      font-style: normal;
      font-weight: 500;
      font-size: 23px;
      line-height: 34px;
      text-align: right;
      letter-spacing: 0.1px;

      color: #ffffff;
    }
  }

  .wave {
    left: -25.69px;
    right: -27.12px;
    top: 133.6px;
    bottom: -30.29px;

    background: linear-gradient(137.84deg, #8e7efb -1.28%, #a777f1 99.13%);
  }

  .type-and-more {
    display: flex;
    justify-content: space-between;
    padding: 8px 28px 0;
  }
}

.card.card-second {
  opacity: 0.4;

  .card-number {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 23px;

    div {
      font-family: Sarabun;
      font-style: normal;
      color: #ffffff;
      display: inline-block;

      line-height: 32px;
    }

    div:not(:last-child) {
      font-weight: normal;
      font-size: 23px;
      letter-spacing: 4px;
    }

    div:last-child {
      width: 66px;
      height: 32px;

      font-weight: normal;
      text-align: right;
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 2px;
    }
  }

  .bottom-place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 23px;

    .card-holder {
      font-family: Sarabun;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.4px;
      text-transform: uppercase;

      color: #ffffff;

      /* white */
      opacity: 0.8;
    }

    .card-holder-name {
      font-family: Sarabun;
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 29px;
      letter-spacing: 0.1px;

      color: #ffffff;
    }

    .expires {
      font-family: Sarabun;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      text-align: right;
      letter-spacing: 0.4px;
      text-transform: uppercase;

      color: #ffffff;

      /* white */
      opacity: 0.8;
    }

    .expired-date {
      font-family: Sarabun;
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 29px;
      text-align: right;
      letter-spacing: 0.1px;

      color: #ffffff;
    }
  }

  .type-and-more {
    display: flex;
    justify-content: space-between;
    padding: 5px 23px 0;
  }
}
