.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;

  button {
    background: none;
    border: none;
  }

  .search-input {
    width: 100%;

    input {
      height: 32px;

      //width: 57%;
      background: inherit;
      border: none;

      font-family: Sarabun;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px; /* identical to box height, or 150% */
      letter-spacing: 0.2px;

      color: #d6d9e4;

      &:focus {
        color: #757f8c;
        outline: none;
      }
    }
  }
}
