.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;

  button {
    background: none;
    border: none;
  }

  .search-input {
    width: 100%;

    input {
      height: 32px;
      width: 100%;

      //width: 57%;
      background: inherit;
      border: none;

      font-family: Sarabun;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px; /* identical to box height, or 150% */
      letter-spacing: 0.2px;

      color: #d6d9e4;

      &:focus {
        color: #757f8c;
        outline: none;
      }
    }
  }
}

.account-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  //height: 72px;
  width: 730px;

  background: #ffffff;
  /* card shadow */
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
  border-radius: 6px;

  margin-top: 12px;
  margin-bottom: 32px;

  .account-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;

    span {
      font-family: Sarabun;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px; /* identical to box height, or 143% */
      letter-spacing: 0.2px;

      color: #171d33;

      padding-right: 16px;
    }

    &:not(:last-child) {
      width: 95.618%;
      border-bottom: 1px solid #f0f1f4;
    }

    &:last-child {
      width: 95.618%;
    }
  }
}

.small-block-title {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  //line-height: 18px;/* identical to box height, or 150% */
  letter-spacing: 0.2px;

  color: #757f8c;
}

.form-container {
  display: flex;
  justify-content: space-between;
  flex-flow: column;

  span.small-block-title {
    margin: 20px 0;
  }
}

.submit-form-button {
  margin-top: 20px;

  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px; /* or 150% */
  letter-spacing: 0.1px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;

  background: #e8e2fc;
  border-radius: 6px;
  border: none;

  height: 56px;
  width: 100%;

  &.active-button {
    background: #613eea;
    /* purple button shadow */
    box-shadow: 0px 8px 20px rgba(97, 62, 234, 0.32);
    border-radius: 6px;
  }
}
