.balance {
  text-align: center;
  margin-bottom: 25px;

  .title {
    width: 200px;
    height: 20px;
    /*left: 620px;*/
    /*top: 164px;*/

    font-family: Sarabun, sans-serif;
    font-style: normal;
    text-align: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;

    color: #a6aab4;
  }

  .total {
    width: 200px;
    height: 42px;
    /*left: 620px;*/
    /*top: 188px;*/

    font-family: Sarabun, sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.5px;

    color: #171d33;
  }
}
